lib/db.awk
tools/grammar/QUESTIONS
tools/lw2xml-c/lt*
tools/lw2xml-c/gw*
tools/lw2xml-c/PLACEHOLDER
tools/lw2xml-c/lex.yy.c
tools/lw2xml-c/lw2xml.output
tools/lw2xml-c/lw2xml.tab.c
tools/lw2xml-c/lw2xml.tab.h
tools/lw2xml-c/lw2xml
tools/xml2html/lt.html
lw2xml/Gwichin*
lw2xml/lt*
lw2xml/test.html
lw2xml/lw.rng
web/files/*
