lib/db.awk
bin/gawk
bin/json.so
bin/xqilla
docs*
grammar/QUESTIONS
tools/lw2xml/lt*
tools/lw2xml/gw*
tools/lw2xml/PLACEHOLDER
tools/lw2xml/lex.yy.c
tools/lw2xml/lw2xml.output
tools/lw2xml/lw2xml.tab.c
tools/lw2xml/lw2xml.tab.h
tools/lw2xml/lw2xml
tools/lw2xml/xml2html/lt.html
lw2xhtml/Gwichin.lex
lw2xhtml/lt.lw
lw2xhtml/test.html
web/files/*
