lib/db.awk
bin/gawk
bin/json.so
bin/xqilla
grammar/QUESTIONS
tools/lw2xml/lt*
tools/lw2xml/lex.yy.c
tools/lw2xml/lw2xml.output
tools/lw2xml/lw2xml.tab.c
tools/lw2xml/lw2xml.tab.h
tools/lw2xml/lw2xml
tools/xml2html/lt.html

