.main { margin: 50px ;
        font-family: "Times New Roman", Times, serif; }

.rt { margin: 30px ; }

.attr1 { margin-bottom: 10px; }

.rootword, .pd, .tag, .rtyp, .nav, .df   { display: inline ; }

.rootword, .gc2word { font-weight: bold; }

.sets { margin-left: 20px; margin-bottom: 10px;}

.gc2  { margin-left: 40px; margin-bottom: 10px;}

.gc2word, .gc2type, .gc2_gl , .ex, .excolon, .eng { display: inline; }

.gc2type , .ex { font-style: italic; }

.attr2 { margin-bottom: 10px; }

.ex { margin-left: 20px; margin-bottom: 5px;}



